name: finora-dev
services:
    postgres:
        image: postgres:17
        environment:
            POSTGRES_USER:
            POSTGRES_PASSWORD:
            POSTGRES_DB:
        ports:
            - "5432:5432"
        volumes:
            - ./data/postgres:/var/lib/postgresql/data 
        networks:
            - finora-network

    pgadmin:
        image: dpage/pgadmin4:latest
        volumes:
            - ./data/pgadmin:/var/lib/pgadmin
        networks:
            - finora-network
        depends_on:
            - postgres
        ports:
            - "7001:80"
        environment:
            PGADMIN_DEFAULT_EMAIL:
            PGADMIN_DEFAULT_PASSWORD:

    rmq:
        image: rabbitmq:4-management
        hostname: rmq
        networks:
            - finora-network
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - ./data/rmq:/var/lib/rabbitmq

networks:
    finora-network: