.body {
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Arial', sans-serif;
}

.btn {
    background-color: #c6a800;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.btn:hover {
    background-color: #c6a800;
    transform: scale(1.05);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-text {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}