name: finora-dev
services:
    mailhog:
        image: mailhog/mailhog
        container_name: mailhog
        ports:
            - "1025:1025" # SMTP
            - "8025:8025" # UI
        networks:
            - finora-network

    postgres:
        image: postgres:17
        environment:
            POSTGRES_USER:
            POSTGRES_PASSWORD:
            POSTGRES_DB:
        ports:
            - "5432:5432"
        volumes:
            - ./data/postgres:/var/lib/postgresql/data 
        networks:
            - finora-network

    pgadmin:
        image: dpage/pgadmin4:latest
        volumes:
            - ./data/pgadmin:/var/lib/pgadmin
        networks:
            - finora-network
        depends_on:
            - postgres
        ports:
            - "7001:80"
        environment:
            PGADMIN_DEFAULT_EMAIL:
            PGADMIN_DEFAULT_PASSWORD:

    rmq:
        image: rabbitmq:4-management
        hostname: rmq
        networks:
            - finora-network
        ports:
            - "5672:5672"
            - "15672:15672"
            - "15674:15674"
        volumes:
            - ./data/rmq:/var/lib/rabbitmq
            - ./rabbitmq.conf:/etc/rabbitmq/conf.d/10-defaults.conf
        entrypoint: ["/bin/sh", "-c", "rabbitmq-plugins enable rabbitmq_web_stomp && rabbitmq-server"]

networks:
    finora-network: