name: finora-dev
services:
    mailhog:
        image: mailhog/mailhog
        container_name: mailhog
        ports:
            - "1025:1025" # SMTP
            - "8025:8025" # UI
        volumes:
            - ./data/mailhog:/tmp
        networks:
            - finora-network

    postgres:
        image: postgres:17
        environment:
            POSTGRES_USER:
            POSTGRES_PASSWORD:
            POSTGRES_DB:
        ports:
            - "5432:5432"
        volumes:
            - ./data/postgres:/var/lib/postgresql/data 
        networks:
            - finora-network

    pgadmin:
        image: dpage/pgadmin4:latest
        volumes:
            - ./data/pgadmin:/var/lib/pgadmin
        networks:
            - finora-network
        depends_on:
            - postgres
        ports:
            - "7001:80"
        environment:
            PGADMIN_DEFAULT_EMAIL:
            PGADMIN_DEFAULT_PASSWORD:

    rmq:
        image: rabbitmq:4-management
        hostname: rmq
        networks:
            - finora-network
        ports:
            - "5672:5672"
            - "15672:15672"
            - "15674:15674"
        volumes:
            - ./data/rmq:/var/lib/rabbitmq
            - ./rabbitmq.conf:/etc/rabbitmq/conf.d/10-defaults.conf
        entrypoint: ["/bin/sh", "-c", "rabbitmq-plugins enable rabbitmq_web_stomp && rabbitmq-server"]
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "ping"]
            interval: 30s
            timeout: 10s
            retries: 5

    backend:
        build:
            context: ../Backend
            dockerfile: Dockerfile.Backend
        networks:
            - finora-network
        depends_on:
            postgres:
                condition: service_started
            rmq:
                condition: service_healthy

    mailing:
        build:
            context: ../Backend
            dockerfile: Dockerfile.Mailing
        networks:
            - finora-network
        depends_on:
            rmq:
                condition: service_healthy
            mailhog:
                condition: service_started

    frontend:
        build:
            context: ../Frontend
            dockerfile: Dockerfile
        networks:
            - finora-network
        ports:
            - "80:80"

networks:
    finora-network:
    