<nav>
    <div class="nav-left">
        <a class="nav-button" routerLink="/">Home</a>
    </div>
    <div class="nav-right"> 
        <a class="nav-button" routerLink="/users">Users</a>
        @if (currentUser) {
            <a class="nav-button">{{currentUser.firstName}} {{currentUser.lastName}}</a>
            <a class="nav-button" (click)="logout()">Logout</a>
            <a class="nav-button" routerLink="/atm">ATM</a>
        }
        @else {
            <a class="nav-button" routerLink="/login" [queryParams]="{ mode: 'register' }">Register</a>
            <a class="nav-button" routerLink="/login" [queryParams]="{ mode: 'login' }">Login</a>
        }
    </div>
    
</nav>